# PROJET 3 - Réponses aux questions 1 à 14

## Mise en situation

Vous êtes intégré à une nouvelle équipe de chercheurs de la Food and Agriculture Organization of the United Nations (FAO), l'un des organes qui compose l'ONU et dont l'objectif est d' « aider à construire un monde libéré de la faim ».
Votre équipe est chargée de réaliser une étude de grande ampleur sur le thème de la sous-nutrition dans le monde.
Le problème de la faim est complexe et peut avoir de multiples causes, différentes selon les pays. L’étape préliminaire de cette étude sera donc d’établir un “état de l’art” des recherches déjà publiées, mais également de mener une étude statistique destinée à orienter les recherches vers des pays particuliers, et de mettre en lumière différentes causes de la faim. Ainsi, une poignée de data analysts (dont vous !) a été sélectionnée pour mener cette étape préliminaire. Lors de la première réunion, vous avez été désigné pour mettre une place la base de données que votre équipe pourra requéter (en SQL) à souhait pour réaliser cette étude statistique.

## Importation des modules

In [1]:
import pandas as pd
import numpy as np
import math

## 0. Chargement des données

In [2]:
%pwd

'/Users/anissa/PROJET 3'

In [3]:
%cd /Users/anissa/FAO_2013_fr

/Users/anissa/FAO_2013_fr

***csv population***

In [4]:
population = pd.read_csv("fr_population.csv")
population.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,202,Afrique du Sud,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,3,Albanie,511,Population totale,2501,Population,2013,2013,1000 personnes,3173,NaN,Donnée officielle
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,4,Algérie,511,Population totale,2501,Population,2013,2013,1000 personnes,39208,NaN,Donnée officielle
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,79,Allemagne,511,Population totale,2501,Population,2013,2013,1000 personnes,82727,NaN,Donnée officielle

***csv végétaux***

In [5]:
vegetaux = pd.read_csv("fr_vegetaux.csv")
vegetaux.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169.0,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,1173.0,S,Données standardisées
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,-350.0,S,Données standardisées
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,5992.0,S,Données standardisées
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,322.0,S,Données standardisées

***csv animaux***

In [6]:
animaux = pd.read_csv("fr_animaux.csv")
animaux.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,2013,Milliers de tonnes,134.00,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,2013,Milliers de tonnes,6.00,S,Données standardisées
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5142,Nourriture,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2013,2013,kg,4.59,Fc,Donnée calculée

***sous-alimentation***

In [7]:
sous_alimentation = pd.read_csv("fr_sousalimentation.csv")
sous_alimentation.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,7.9,F,Estimation FAO,NaN
1,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,8.8,F,Estimation FAO,NaN
2,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20142016,2014-2016,millions,9.6,F,Estimation FAO,NaN
3,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20152017,2015-2017,millions,10.2,F,Estimation FAO,NaN
4,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20162018,2016-2018,millions,10.6,F,Estimation FAO,NaN

***céréales***

In [8]:
cereales = pd.read_csv("fr_céréales.csv")
cereales.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2805,Riz (Eq Blanchi),2013,2013,Milliers de tonnes,342,S,Données standardisées
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2513,Orge,2013,2013,Milliers de tonnes,514,S,Données standardisées
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2514,Maïs,2013,2013,Milliers de tonnes,312,S,Données standardisées
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2517,Millet,2013,2013,Milliers de tonnes,13,S,Données standardisées

# I. Identifier les grandes tendances

### Question n°1 - Calculer le nombre total d'humains sur la planète pour l'année 2013

In [9]:
# On identifie les colonnes du dataframe population
population.columns

Index(['Code Domaine', 'Domaine', 'Code zone', 'Zone', 'Code Élément',
       'Élément', 'Code Produit', 'Produit', 'Code année', 'Année', 'Unité',
       'Valeur', 'Symbole', 'Description du Symbole'],
      dtype='object')

In [10]:
# On isole la colonne qui nous permettra de calculer la population totale
population["Valeur"]
# On fait la somme des valeurs de la colonne
print(population["Valeur"].sum())

8413993

In [11]:
# Après vérification sur Internet, la somme des valeurs n'est pas conforme à la réalité
# Il faut donc poser des hypothèses et effectuer des tests afin de trouver la bonne valeur

In [12]:
# On vérifie s'il y a bien qu'un seul symbole utilisé dans le df
population["Symbole"].unique()

array([nan, 'A'], dtype=object)

In [13]:
# Il y donc 2 symboles différents utilisés. 
# On regarde alors dans la colonne Description du Symbole à quoi cela correspond
population["Description du Symbole"].unique()

array(['Donnée officielle',
       'Agrégat, peut inclure des données officielles, semi-officielles, estimées ou calculées'],
      dtype=object)

In [14]:
# On affiche les lignes contenant le symbole A
population.loc[population["Symbole"]=="A"]

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
33,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,..."

In [15]:
# On procède au nettoyage du df pour ne garder que les données officielles
pop = population.loc[population["Symbole"]!="A"]
pop2013 = pop["Valeur"].sum()
print("En 2013, la population totale mondiale était de", pop2013,"(pour 1000 personnes) soit",(pop2013*1000/1e9),"milliards d'habitants.")

En 2013, la population totale mondiale était de 6997326 (pour 1000 personnes) soit 6.997326 milliards d'habitants.

### Question n°2 - Identifiez les redondances et donnez l'équation

#### Equation

Disponibilité intérieure = Production + Importation + Variation de stock - Exportations 
= Aliments pour animaux + Semences + Pertes + Traitement + Autres Utilisations (non alimentaire) + Nourriture

###### *Illustration avec le blé en France en 2013*

In [16]:
# On procède à la concaténation des df animaux et végétaux

# On ajoute d'abord une colonne origine dans chaque df
vegetaux["Origine"]="Végétale"
animaux["Origine"]="Animale"

# On lance la concaténation
anim_veg = pd.concat([vegetaux,animaux])
anim_veg.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Origine
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169.0,S,Données standardisées,Végétale
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,1173.0,S,Données standardisées,Végétale
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,-350.0,S,Données standardisées,Végétale
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,5992.0,S,Données standardisées,Végétale
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,322.0,S,Données standardisées,Végétale

In [17]:
# On exclut les lignes "Chine"
anim_veg = anim_veg.loc[anim_veg["Code zone"]!=351]

In [18]:
# On crée un tableau croisé dynamique (table pivot)

# On commence par supprimer la colonne Code Élément
anim_veg_new = anim_veg.drop(columns=["Code Élément"])

# On crée le table pivot
anim_veg_pivot = pd.pivot_table(anim_veg_new, index=["Code zone", "Zone","Code Produit", 
                                                     "Produit","Origine","Année",
                                                     "Code année"],
                                                   columns="Élément", values="Valeur", 
                                                                aggfunc="sum")

# On réinitialise les indexs
bilan_alim= anim_veg_pivot.reset_index()
bilan_alim.head()

Élément,Code zone,Zone,Code Produit,Produit,Origine,Année,Code année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,1,Arménie,2511,Blé,Végétale,2013,2013,93.0,0.0,1024.0,...,30.52,554.0,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0
1,1,Arménie,2513,Orge,Végétale,2013,2013,137.0,26.0,0.0,...,0.00,198.0,0.0,9.0,0.0,15.0,189.0,14.0,7.0,0.0
2,1,Arménie,2514,Maïs,Végétale,2013,2013,96.0,NaN,0.0,...,0.01,102.0,NaN,82.0,0.0,7.0,21.0,0.0,NaN,NaN
3,1,Arménie,2515,Seigle,Végétale,2013,2013,1.0,NaN,1.0,...,0.02,1.0,NaN,0.0,0.0,0.0,1.0,0.0,NaN,0.0
4,1,Arménie,2516,Avoine,Végétale,2013,2013,4.0,NaN,2.0,...,0.09,6.0,NaN,1.0,1.0,0.0,5.0,0.0,NaN,NaN

In [19]:
# On localise les données qui nous intéressent
ble = bilan_alim.loc[(bilan_alim["Produit"]=="Blé") & (bilan_alim["Zone"]=="France")]
ble

Élément,Code zone,Zone,Code Produit,Produit,Origine,Année,Code année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
4144,68,France,2511,Blé,Végétale,2013,2013,7822.0,2824.0,811.0,...,25.99,20298.0,21502.0,2055.0,6971.0,358.0,38614.0,748.0,1575.0,1131.0

In [20]:
# Disponibilité intérieure
ble["Disponibilité intérieure"]

4144    20298.0
Name: Disponibilité intérieure, dtype: float64

In [21]:
# Production (P) + Importations (I) + Variation de stock (V) - Exportations (E)
(ble["Production"] + ble["Importations - Quantité"] + ble["Variation de stock"] - 
                                                        ble["Exportations - Quantité"])

4144    20298.0
dtype: float64

In [22]:
# Aliments pour animaux (Al_a) + Semences (S) + Pertes (Pe) + Traitement (T) + 
                            # Autres Utilisations (non alimentaire) (A_u) + Nourriture (N)
(ble["Aliments pour animaux"] + ble["Semences"] + ble["Pertes"] + ble["Traitement"] + 
                         ble["Autres utilisations (non alimentaire)"] + ble["Nourriture"])

4144    20298.0
dtype: float64

In [23]:
# ==> donc [Disponibilité intérieure] = [P + I + V - E] = [Al_a + S + Pe + T + A_u + N]

### Question n°3 - Calculez la disponibilité alimentaire en kcal puis en kg de protéines

In [24]:
# On nettoie le df population pour pouvoir le joindre au df bilan_alim
popul = pop.drop(columns=["Élément","Produit","Code Domaine","Domaine","Code Élément",
                          "Code Produit","Code année","Année","Unité","Symbole",
                          "Description du Symbole","Zone"])
popul=popul.rename(columns={"Valeur":"Population"})
popul.head()

   Code zone  Population
0          2       30552
1        202       52776
2          3        3173
3          4       39208
4         79       82727

In [25]:
# On joint les df
bilan_alim_pop = pd.merge(bilan_alim, popul, on="Code zone", how="left")
bilan_alim_pop.head()

,Code zone,Zone,Code Produit,Produit,Origine,Année,Code année,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Population
0,1,Arménie,2511,Blé,Végétale,2013,2013,93.0,0.0,1024.0,...,554.0,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0,2977
1,1,Arménie,2513,Orge,Végétale,2013,2013,137.0,26.0,0.0,...,198.0,0.0,9.0,0.0,15.0,189.0,14.0,7.0,0.0,2977
2,1,Arménie,2514,Maïs,Végétale,2013,2013,96.0,NaN,0.0,...,102.0,NaN,82.0,0.0,7.0,21.0,0.0,NaN,NaN,2977
3,1,Arménie,2515,Seigle,Végétale,2013,2013,1.0,NaN,1.0,...,1.0,NaN,0.0,0.0,0.0,1.0,0.0,NaN,0.0,2977
4,1,Arménie,2516,Avoine,Végétale,2013,2013,4.0,NaN,2.0,...,6.0,NaN,1.0,1.0,0.0,5.0,0.0,NaN,NaN,2977

In [26]:
# On supprime les colonnes dont on n'a pas besoin
bilan_alim_popu = bilan_alim_pop.drop(columns=[
                    "Disponibilité de matière grasse en quantité (g/personne/jour)",
                                                           "Semences","Traitement",
                                                            "Variation de stock"])

# On renomme les colonnes pour que ce soit plus intuitif
bilan_alim_popu = bilan_alim_popu.rename(columns={
                    "Disponibilité alimentaire (Kcal/personne/jour)":"dispo_alim_kcal_j",
            "Disponibilité de protéines en quantité (g/personne/jour)":"dispo_prot_j",
    "Population":"population",
    "Disponibilité alimentaire en quantité (kg/personne/an)":"dispo_alim_kg",
    "Zone_x":"zone", "Disponibilité intérieure":"dispo_int", "Nourriture":"nourriture"})
bilan_alim_popu.head()

,Code zone,Zone,Code Produit,Produit,Origine,Année,Code année,Aliments pour animaux,Autres utilisations (non alimentaire),dispo_alim_kcal_j,dispo_alim_kg,dispo_prot_j,dispo_int,Exportations - Quantité,Importations - Quantité,nourriture,Pertes,Production,population
0,1,Arménie,2511,Blé,Végétale,2013,2013,93.0,0.0,1024.0,130.60,30.52,554.0,1.0,361.0,389.0,32.0,312.0,2977
1,1,Arménie,2513,Orge,Végétale,2013,2013,137.0,26.0,0.0,0.00,0.00,198.0,0.0,9.0,0.0,15.0,189.0,2977
2,1,Arménie,2514,Maïs,Végétale,2013,2013,96.0,NaN,0.0,0.03,0.01,102.0,NaN,82.0,0.0,7.0,21.0,2977
3,1,Arménie,2515,Seigle,Végétale,2013,2013,1.0,NaN,1.0,0.12,0.02,1.0,NaN,0.0,0.0,0.0,1.0,2977
4,1,Arménie,2516,Avoine,Végétale,2013,2013,4.0,NaN,2.0,0.37,0.09,6.0,NaN,1.0,1.0,0.0,5.0,2977

###### a/ Disponibilité alimentaire en kcal

In [27]:
# On ajoute une colonne contenant la disponibilité alimentaire en kcal
bilan_alim_popu["bilan_alim_kcal"] = (bilan_alim_popu["dispo_alim_kcal_j"]*
                                      (bilan_alim_popu["population"]*1000)*365)
bilan_alim_popu.head()

,Code zone,Zone,Code Produit,Produit,Origine,Année,Code année,Aliments pour animaux,Autres utilisations (non alimentaire),dispo_alim_kcal_j,dispo_alim_kg,dispo_prot_j,dispo_int,Exportations - Quantité,Importations - Quantité,nourriture,Pertes,Production,population,bilan_alim_kcal
0,1,Arménie,2511,Blé,Végétale,2013,2013,93.0,0.0,1024.0,130.60,30.52,554.0,1.0,361.0,389.0,32.0,312.0,2977,1.112684e+12
1,1,Arménie,2513,Orge,Végétale,2013,2013,137.0,26.0,0.0,0.00,0.00,198.0,0.0,9.0,0.0,15.0,189.0,2977,0.000000e+00
2,1,Arménie,2514,Maïs,Végétale,2013,2013,96.0,NaN,0.0,0.03,0.01,102.0,NaN,82.0,0.0,7.0,21.0,2977,0.000000e+00
3,1,Arménie,2515,Seigle,Végétale,2013,2013,1.0,NaN,1.0,0.12,0.02,1.0,NaN,0.0,0.0,0.0,1.0,2977,1.086605e+09
4,1,Arménie,2516,Avoine,Végétale,2013,2013,4.0,NaN,2.0,0.37,0.09,6.0,NaN,1.0,1.0,0.0,5.0,2977,2.173210e+09

###### b/ Disponibilité alimentaire en kg de protéines

In [28]:
# On ajoute la colonne contenant la disponibilité alimentaire en kg
bilan_alim_popu["bilan_alim_kg_prot"] = ((bilan_alim_popu["dispo_prot_j"]/1000)*
                                         (bilan_alim_popu["population"]*1000)*365)
bilan_alim_popu.head()

,Code zone,Zone,Code Produit,Produit,Origine,Année,Code année,Aliments pour animaux,Autres utilisations (non alimentaire),dispo_alim_kcal_j,...,dispo_prot_j,dispo_int,Exportations - Quantité,Importations - Quantité,nourriture,Pertes,Production,population,bilan_alim_kcal,bilan_alim_kg_prot
0,1,Arménie,2511,Blé,Végétale,2013,2013,93.0,0.0,1024.0,...,30.52,554.0,1.0,361.0,389.0,32.0,312.0,2977,1.112684e+12,33163184.60
1,1,Arménie,2513,Orge,Végétale,2013,2013,137.0,26.0,0.0,...,0.00,198.0,0.0,9.0,0.0,15.0,189.0,2977,0.000000e+00,0.00
2,1,Arménie,2514,Maïs,Végétale,2013,2013,96.0,NaN,0.0,...,0.01,102.0,NaN,82.0,0.0,7.0,21.0,2977,0.000000e+00,10866.05
3,1,Arménie,2515,Seigle,Végétale,2013,2013,1.0,NaN,1.0,...,0.02,1.0,NaN,0.0,0.0,0.0,1.0,2977,1.086605e+09,21732.10
4,1,Arménie,2516,Avoine,Végétale,2013,2013,4.0,NaN,2.0,...,0.09,6.0,NaN,1.0,1.0,0.0,5.0,2977,2.173210e+09,97794.45

### Question n°4 - Calculez pour chaque produit le ratio énergie/poids en kcal/kg

In [29]:
# Définitions des fonctions pour les calculs des ratios

def calcul_ratio_kcal(row):
    if (row["bilan_alim_kcal"]!=0) & (row["nourriture"]!=0):
        ratio = row["bilan_alim_kcal"]/(row["nourriture"]*1e6)
    else: 
        ratio = math.nan
    return ratio

def calcul_ratio_prot(row):
    if (row["bilan_alim_kg_prot"]!=0) & (row["nourriture"]!=0):
        ratio = row["bilan_alim_kg_prot"]/(row["nourriture"]*1e6)*100
    else: 
        ratio = math.nan
    return ratio

In [30]:
# Calcul du ratio énergie/poids en kcal/kg

# On ajoute la colonne au df
bilan_alim_popu["ratio_energie"]= bilan_alim_popu.apply (
    lambda row: calcul_ratio_kcal(row), axis=1)

bilan_alim_popu.head()

,Code zone,Zone,Code Produit,Produit,Origine,Année,Code année,Aliments pour animaux,Autres utilisations (non alimentaire),dispo_alim_kcal_j,...,dispo_int,Exportations - Quantité,Importations - Quantité,nourriture,Pertes,Production,population,bilan_alim_kcal,bilan_alim_kg_prot,ratio_energie
0,1,Arménie,2511,Blé,Végétale,2013,2013,93.0,0.0,1024.0,...,554.0,1.0,361.0,389.0,32.0,312.0,2977,1.112684e+12,33163184.60,2860.368946
1,1,Arménie,2513,Orge,Végétale,2013,2013,137.0,26.0,0.0,...,198.0,0.0,9.0,0.0,15.0,189.0,2977,0.000000e+00,0.00,NaN
2,1,Arménie,2514,Maïs,Végétale,2013,2013,96.0,NaN,0.0,...,102.0,NaN,82.0,0.0,7.0,21.0,2977,0.000000e+00,10866.05,NaN
3,1,Arménie,2515,Seigle,Végétale,2013,2013,1.0,NaN,1.0,...,1.0,NaN,0.0,0.0,0.0,1.0,2977,1.086605e+09,21732.10,NaN
4,1,Arménie,2516,Avoine,Végétale,2013,2013,4.0,NaN,2.0,...,6.0,NaN,1.0,1.0,0.0,5.0,2977,2.173210e+09,97794.45,2173.210000

In [31]:
# Vérification avec les oeufs (sur Wikipédia 147kcal/100g donc 1470kcal/kg)
ratio_oeufs = bilan_alim_popu.loc[
                                (bilan_alim_popu["Produit"]=="Oeufs") 
                                  & (bilan_alim_popu["ratio_energie"]!=0) 
                                  & (bilan_alim_popu["ratio_energie"]!=np.inf), 
                                ["ratio_energie"]].mean()
print("La valeur calorique d'un oeuf est ici de",round(ratio_oeufs, 2).values[0],"/kg soit 134,5/100g. A titre de comparaison, Wikipédia donne pour exemple une valeur calorique de 147kcal/100g.")

La valeur calorique d'un oeuf est ici de 1345.3 /kg soit 134,5/100g. A titre de comparaison, Wikipédia donne pour exemple une valeur calorique de 147kcal/100g.

In [32]:
# Calcul du pourcentage de protéines de chaque produit pour chaque pays

# On ajoute la colonne pourc_prot

bilan_alim_popu["pourc_prot"]= bilan_alim_popu.apply (
    lambda row: calcul_ratio_prot(row), axis=1)

bilan_alim_popu.head()

,Code zone,Zone,Code Produit,Produit,Origine,Année,Code année,Aliments pour animaux,Autres utilisations (non alimentaire),dispo_alim_kcal_j,...,Exportations - Quantité,Importations - Quantité,nourriture,Pertes,Production,population,bilan_alim_kcal,bilan_alim_kg_prot,ratio_energie,pourc_prot
0,1,Arménie,2511,Blé,Végétale,2013,2013,93.0,0.0,1024.0,...,1.0,361.0,389.0,32.0,312.0,2977,1.112684e+12,33163184.60,2860.368946,8.525240
1,1,Arménie,2513,Orge,Végétale,2013,2013,137.0,26.0,0.0,...,0.0,9.0,0.0,15.0,189.0,2977,0.000000e+00,0.00,NaN,NaN
2,1,Arménie,2514,Maïs,Végétale,2013,2013,96.0,NaN,0.0,...,NaN,82.0,0.0,7.0,21.0,2977,0.000000e+00,10866.05,NaN,NaN
3,1,Arménie,2515,Seigle,Végétale,2013,2013,1.0,NaN,1.0,...,NaN,0.0,0.0,0.0,1.0,2977,1.086605e+09,21732.10,NaN,NaN
4,1,Arménie,2516,Avoine,Végétale,2013,2013,4.0,NaN,2.0,...,NaN,1.0,1.0,0.0,5.0,2977,2.173210e+09,97794.45,2173.210000,9.779445

In [33]:
# Vérification avec l'avoine (10,7g pour 100g sur Wikipédia)
avoine = bilan_alim_popu.loc[
                                (bilan_alim_popu["Produit"]=="Avoine") 
                                  & (bilan_alim_popu["pourc_prot"]!=0) 
                                  & (bilan_alim_popu["pourc_prot"]!=np.inf), 
                                ["pourc_prot"]].mean()
print("La teneur en protéines de l'avoine est ici de",round(avoine, 2).values[0],"g. A titre de comparaison, Wikipédia donne pour exemple une teneur en protéines de 10,7g/100g.")

La teneur en protéines de l'avoine est ici de 8.45 g. A titre de comparaison, Wikipédia donne pour exemple une teneur en protéines de 10,7g/100g.

### Question n°5 - Citez les 5 aliments parmi les 20 aliments les plus caloriques, en utilisant le ratio énergie/poids puis les 5 les plus protéinés

*Les 5 aliments les plus caloriques*

In [34]:
# On nettoie le df

# On commence par enlever les valeurs égales à 0
bilan_alim_popu = bilan_alim_popu.loc[bilan_alim_popu["ratio_energie"]!=0]
bilan_alim_popu.head()

,Code zone,Zone,Code Produit,Produit,Origine,Année,Code année,Aliments pour animaux,Autres utilisations (non alimentaire),dispo_alim_kcal_j,...,Exportations - Quantité,Importations - Quantité,nourriture,Pertes,Production,population,bilan_alim_kcal,bilan_alim_kg_prot,ratio_energie,pourc_prot
0,1,Arménie,2511,Blé,Végétale,2013,2013,93.0,0.0,1024.0,...,1.0,361.0,389.0,32.0,312.0,2977,1.112684e+12,33163184.60,2860.368946,8.525240
1,1,Arménie,2513,Orge,Végétale,2013,2013,137.0,26.0,0.0,...,0.0,9.0,0.0,15.0,189.0,2977,0.000000e+00,0.00,NaN,NaN
2,1,Arménie,2514,Maïs,Végétale,2013,2013,96.0,NaN,0.0,...,NaN,82.0,0.0,7.0,21.0,2977,0.000000e+00,10866.05,NaN,NaN
3,1,Arménie,2515,Seigle,Végétale,2013,2013,1.0,NaN,1.0,...,NaN,0.0,0.0,0.0,1.0,2977,1.086605e+09,21732.10,NaN,NaN
4,1,Arménie,2516,Avoine,Végétale,2013,2013,4.0,NaN,2.0,...,NaN,1.0,1.0,0.0,5.0,2977,2.173210e+09,97794.45,2173.210000,9.779445

In [35]:
# On fait la moyenne pour chaque produit
top5_kcal = bilan_alim_popu.loc[:,["Produit","ratio_energie"]].groupby("Produit").mean()
top5_kcal.head()

                        ratio_energie
Produit
Abats Comestible          1129.258163
Agrumes, Autres            248.981045
Alcool, non Comestible            NaN
Aliments pour enfants     3690.832338
Ananas                     439.413583

In [36]:
# On classe le df dans l'ordre décroissant et on affiche les 5 aliments les plus caloriques
top5_kcal = top5_kcal.sort_values(by="ratio_energie", ascending = False)
top5_kcal.head(5)

                          ratio_energie
Produit
Huiles de Foie de Poisso    9982.932500
Huile de Sésame             9433.744729
Huile de Son de Riz         9361.549883
Huiles de Poissons          9003.715504
Huile d'Arachide            8935.765811

*Les 5 aliments les plus protéinés*

In [37]:
# On fait la moyenne pour chaque produit et on les classe dans l'ordre décroissant

# On commence par enlever les valeurs égales à 0
bilan_alim_popu = bilan_alim_popu.loc[bilan_alim_popu["pourc_prot"]!=0]

# On classe le df dans l'ordre décroissant et on affiche les 5 aliments les plus protéinés
top5_prot = bilan_alim_popu.loc[:,["Produit","pourc_prot"]].groupby("Produit").mean()\
            .sort_values(by="pourc_prot", ascending = False)
top5_prot.head(5)

                        pourc_prot
Produit
Graines Colza/Moutarde   28.536511
Soja                     28.533053
Arachides Decortiquees   25.146613
Pois                     22.324375
Légumineuses Autres      21.971635

### Question n°6 - Calculez, pour les produits végétaux uniquement, la disponibilité intérieure mondiale exprimée en kcal

In [38]:
# On met un masque afin d'afficher uniquement les produits végétaux
bilan_alim_popu_mask = bilan_alim_popu["Origine"]=="Végétale"
filtered_bmpop = bilan_alim_popu[bilan_alim_popu_mask]
filtered_bmpop

,Code zone,Zone,Code Produit,Produit,Origine,Année,Code année,Aliments pour animaux,Autres utilisations (non alimentaire),dispo_alim_kcal_j,...,Exportations - Quantité,Importations - Quantité,nourriture,Pertes,Production,population,bilan_alim_kcal,bilan_alim_kg_prot,ratio_energie,pourc_prot
0,1,Arménie,2511,Blé,Végétale,2013,2013,93.0,0.0,1024.0,...,1.0,361.0,389.0,32.0,312.0,2977,1.112684e+12,33163184.60,2860.368946,8.525240
1,1,Arménie,2513,Orge,Végétale,2013,2013,137.0,26.0,0.0,...,0.0,9.0,0.0,15.0,189.0,2977,0.000000e+00,0.00,NaN,NaN
2,1,Arménie,2514,Maïs,Végétale,2013,2013,96.0,NaN,0.0,...,NaN,82.0,0.0,7.0,21.0,2977,0.000000e+00,10866.05,NaN,NaN
3,1,Arménie,2515,Seigle,Végétale,2013,2013,1.0,NaN,1.0,...,NaN,0.0,0.0,0.0,1.0,2977,1.086605e+09,21732.10,NaN,NaN
4,1,Arménie,2516,Avoine,Végétale,2013,2013,4.0,NaN,2.0,...,NaN,1.0,1.0,0.0,5.0,2977,2.173210e+09,97794.45,2173.210000,9.779445
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15585,276,Soudan,2659,"Alcool, non Comestible",Végétale,2013,2013,NaN,0.0,NaN,...,NaN,0.0,NaN,NaN,NaN,37964,NaN,NaN,NaN,NaN
15586,276,Soudan,2680,Aliments pour enfants,Végétale,2013,2013,NaN,NaN,0.0,...,NaN,0.0,0.0,NaN,NaN,37964,0.000000e+00,0.00,NaN,NaN
15597,276,Soudan,2745,Miel,Végétale,2013,2013,NaN,NaN,0.0,...,NaN,0.0,1.0,NaN,1.0,37964,0.000000e+00,NaN,NaN,NaN
15602,276,Soudan,2805,Riz (Eq Blanchi),Végétale,2013,2013,NaN,NaN,14.0,...,NaN,33.0,48.0,NaN,17.0,37964,1.939960e+11,3879920.80,4041.584167,8.083168
15604,276,Soudan,2899,Miscellanees,Végétale,2013,2013,NaN,NaN,7.0,...,NaN,NaN,NaN,NaN,NaN,37964,9.699802e+10,20369584.20,NaN,NaN

In [39]:
# On procède au calcul pour déterminer la disponibilité intérieure en kcal
bm_pop = filtered_bmpop.copy()
bm_pop["dispo_int_kcal"]= bm_pop["dispo_int"]*1000000*bm_pop["ratio_energie"]
bm_pop

,Code zone,Zone,Code Produit,Produit,Origine,Année,Code année,Aliments pour animaux,Autres utilisations (non alimentaire),dispo_alim_kcal_j,...,Importations - Quantité,nourriture,Pertes,Production,population,bilan_alim_kcal,bilan_alim_kg_prot,ratio_energie,pourc_prot,dispo_int_kcal
0,1,Arménie,2511,Blé,Végétale,2013,2013,93.0,0.0,1024.0,...,361.0,389.0,32.0,312.0,2977,1.112684e+12,33163184.60,2860.368946,8.525240,1.584644e+12
1,1,Arménie,2513,Orge,Végétale,2013,2013,137.0,26.0,0.0,...,9.0,0.0,15.0,189.0,2977,0.000000e+00,0.00,NaN,NaN,NaN
2,1,Arménie,2514,Maïs,Végétale,2013,2013,96.0,NaN,0.0,...,82.0,0.0,7.0,21.0,2977,0.000000e+00,10866.05,NaN,NaN,NaN
3,1,Arménie,2515,Seigle,Végétale,2013,2013,1.0,NaN,1.0,...,0.0,0.0,0.0,1.0,2977,1.086605e+09,21732.10,NaN,NaN,NaN
4,1,Arménie,2516,Avoine,Végétale,2013,2013,4.0,NaN,2.0,...,1.0,1.0,0.0,5.0,2977,2.173210e+09,97794.45,2173.210000,9.779445,1.303926e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15585,276,Soudan,2659,"Alcool, non Comestible",Végétale,2013,2013,NaN,0.0,NaN,...,0.0,NaN,NaN,NaN,37964,NaN,NaN,NaN,NaN,NaN
15586,276,Soudan,2680,Aliments pour enfants,Végétale,2013,2013,NaN,NaN,0.0,...,0.0,0.0,NaN,NaN,37964,0.000000e+00,0.00,NaN,NaN,NaN
15597,276,Soudan,2745,Miel,Végétale,2013,2013,NaN,NaN,0.0,...,0.0,1.0,NaN,1.0,37964,0.000000e+00,NaN,NaN,NaN,NaN
15602,276,Soudan,2805,Riz (Eq Blanchi),Végétale,2013,2013,NaN,NaN,14.0,...,33.0,48.0,NaN,17.0,37964,1.939960e+11,3879920.80,4041.584167,8.083168,1.980376e+11
15604,276,Soudan,2899,Miscellanees,Végétale,2013,2013,NaN,NaN,7.0,...,NaN,NaN,NaN,NaN,37964,9.699802e+10,20369584.20,NaN,NaN,NaN

In [40]:
# On effectue la somme de la disponibilité intérieure en kcal mondiale (végétaux)
vegkcal = bm_pop.loc[:,"dispo_int_kcal"].sum()
print("La disponibilité intérieure pour les produits végétaux est de",vegkcal,"kcal.")

La disponibilité intérieure pour les produits végétaux est de 1.2312091265143276e+16 kcal.

### Question 7 - Combien d'humains pourraient être nourris si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture ? (en calories, puis protéines ; et en pourcentage de la population mondiale)

Déterminer le besoin kcal moyen pour un individu

"La quantité de calories nécessaire chaque jour à un adulte dépend de nombreux facteurs tels que le sexe, l’âge, la taille, le poids ou le niveau d’activité physique. Pour un homme adulte, l’apport conseillé en énergie est, en moyenne, de 2 400 à 2 600 calories par jour, selon l’activité. Pour une femme adulte, il est de 1 800 à 2 200 calories." source : https://www.vidal.fr/sante/nutrition/equilibre-alimentaire-adulte/recommandations-nutritionnelles-adulte.html

Déterminer le besoin en g moyen pour un individu

"L'Apport Nutritionnel Conseillé (ANC) en protéines pour un adulte est de 0,83 grammes par kilogramme de poids corporel. Cela représente 50 à 60 grammes de protéine par jour pour un individu de poids moyen compris entre 60 et 70 kg." source : https://www.sante-sur-le-net.com/seniors-repartition-proteines-journee/

##### a/ en calories

In [41]:
# Calcul de la moyenne du besoin kcal pour un individu (par jour)
cal_moyen = (1800+2600)/2
print(cal_moyen)

2200.0

In [42]:
# Calcul du nombre de personnes que l'on peut nourrir (en kcal)
pop_nourrie = (vegkcal)/(cal_moyen*365)
round(pop_nourrie,2)

15332616768.55

###### exprimé en pourcentage

In [43]:
# Population totale mondiale en 2013
pop_2013= pop["Valeur"].sum()
pop_2013

6997326

In [44]:
# Calcul du pourcentage de la population mondiale
pourc_pop_nourrie = ((pop_nourrie)/(pop_2013*1000))*100
print(round(pourc_pop_nourrie,2),"%")

219.12 %

In [45]:
print(">> Si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture, elle  pourrait subvenir aux besoins caloriques de",
     round(pop_nourrie/1e9,2), 'milliards de personnes soit',round(pourc_pop_nourrie,2),"% de la population mondiale.")

>> Si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture, elle  pourrait subvenir aux besoins caloriques de 15.33 milliards de personnes soit 219.12 % de la population mondiale.

###### b/ en protéines

In [46]:
# Calcul de la moyenne du besoin en protéines pour un individu (par jour)
g_moyen = (50+60)/2
g_moyen

55.0

In [47]:
# Calcul du nombre de personnes que l'on peut nourrir (en protéines)
bm_pop["prot_kg"]= bm_pop["dispo_int"]*1e6*(bm_pop["pourc_prot"]/100)
prot = bm_pop["prot_kg"].sum()
prot_pop = prot/(g_moyen*0.001*365)
round(prot_pop,2)

14454661725.64

##### exprimé en pourcentage

In [48]:
# Population totale mondiale en 2013
pop_2013

6997326

In [49]:
# Calcul du pourcentage de la population mondiale
pop_prot= (prot_pop)/(pop_2013*1000)*100
print(round(pop_prot,2),"%")

206.57 %

In [50]:
print(">> Si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture, elle  pourrait subvenir aux besoins en protéines de",
     round(prot_pop/1e9,2), 'milliards de personnes soit',round(pop_prot,2),"% de la population mondiale.")

>> Si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture, elle  pourrait subvenir aux besoins en protéines de 14.45 milliards de personnes soit 206.57 % de la population mondiale.

### Question n°8 - Combien d'humains pourraient être nourris si toute la disponibilité alimentaire en produits végétaux, la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture ? (en calories puis en protéines ; et en pourcentage de la population mondiale)

In [51]:
# Pour déterminer la disponibilité alimentaire, on sélectionne les données nécessaires
veg_q8 = bilan_alim_popu.loc[bilan_alim_pop["Origine"]=="Végétale",
                           ["Code zone", "Zone", "Code Produit",
                        "bilan_alim_kcal","bilan_alim_kg_prot", "Aliments pour animaux", 
                            "Pertes", "ratio_energie", "pourc_prot"]]
# On procède à l'équation
veg_q8["total_veg"]=  veg_q8["Aliments pour animaux"]*1e6 + veg_q8["Pertes"]*1e6
veg_q8["total_veg_p"] = veg_q8["Aliments pour animaux"]*1e6 + veg_q8["Pertes"]*1e6

# On calcule le total en kcal pour chaque produit et pays
veg_q8["total_veg_kcal"] = (veg_q8["total_veg"]*veg_q8["ratio_energie"]
                            +veg_q8["bilan_alim_kcal"])

# On calcule le total en protéines pour chaque produit et pays
veg_q8["total_veg_prot"] = (veg_q8["total_veg_p"]*veg_q8["pourc_prot"]
                            /100+veg_q8["bilan_alim_kg_prot"])

# On procède à la somme totale en kcal
total_kcal_veg = veg_q8.total_veg_kcal.sum()

# On procède à la somme total en protéines
total_prot_veg = veg_q8.total_veg_prot.sum()

##### a/ en calories

In [52]:
# Population totale pouvant être nourrie
popu_nourrie = total_kcal_veg/(cal_moyen*365)
round(popu_nourrie,2)

7600681476.7

###### exprimé en pourcentage

In [53]:
# Pourcentage de la population mondiale
pourc_popu_nourrie = ((popu_nourrie)/(pop_2013*1000))*100
print(round(pourc_popu_nourrie,2),"%")

108.62 %

In [54]:
print(">> Si l'on ajoute à la disponibilité alimentaire de produits végétaux la nourriture végétale destinées aux animaux et les pertes, on pourrait satisfaire les besoins caloriques de",
      round(popu_nourrie/1e9,2),"milliards de personnes soit",round(pourc_popu_nourrie,2),"% de la population mondiale.")

>> Si l'on ajoute à la disponibilité alimentaire de produits végétaux la nourriture végétale destinées aux animaux et les pertes, on pourrait satisfaire les besoins caloriques de 7.6 milliards de personnes soit 108.62 % de la population mondiale.

###### b/ en protéines

In [55]:
# Population totale pouvant être nourrie
pop_prot_dispo = total_prot_veg/(g_moyen*0.001*365)
round(pop_prot_dispo,2)

7991193118.22

##### exprimé en pourcentage

In [56]:
# Pourcentage de la population mondiale
pourc_popu_g = (pop_prot_dispo/(pop_2013*1000))*100
print(round(pourc_popu_g,2),"%")

114.2 %

In [57]:
print(">> Si l'on ajoute à la disponibilité alimentaire de produits végétaux la nourriture végétale destinées aux animaux et les pertes, on pourrait satisfaire les besoins en protéines de",
      round(pop_prot_dispo/1e9,2),"milliards de personnes soit",round(pourc_popu_g,2),"% de la population mondiale.")

>> Si l'on ajoute à la disponibilité alimentaire de produits végétaux la nourriture végétale destinées aux animaux et les pertes, on pourrait satisfaire les besoins en protéines de 7.99 milliards de personnes soit 114.2 % de la population mondiale.

### Question n°9 - Combien d'humains pourraient être nourris avec la disponibilité alimentaire mondiale ? (en calories puis en protéines ; et en pourcentage de la population mondiale)

##### a/ en calories

In [58]:
# On fait la somme de la disponibilité alimentaire en kcal
h_kcal = bilan_alim_popu["bilan_alim_kcal"].sum()
h_kcal

7363883420185000.0

In [59]:
# Population totale pouvant être nourrie
humains_nourris = h_kcal/(cal_moyen*365)
round(humains_nourris,2)

9170465031.36

###### exprimé en pourcentage

In [60]:
# Pourcentage de la population mondiale
pourc_h_nourris = (humains_nourris/(pop_2013*1000))*100
print(round(pourc_h_nourris,2),"%")

131.06 %

In [61]:
print(">> La disponibilité alimentaire mondiale pourrait combler les besoins caloriques de",
      round(humains_nourris/1e9,2),"milliards de personnes soit",round(pourc_h_nourris,2),"% de la population mondiale.")

>> La disponibilité alimentaire mondiale pourrait combler les besoins caloriques de 9.17 milliards de personnes soit 131.06 % de la population mondiale.

###### b/ en protéines

In [62]:
# Population totale pouvant être nourrie

# On détermine la disponibilité alimentaire totale en protéines
p_prot = bilan_alim_popu["bilan_alim_kg_prot"].sum()
h_kg = p_prot/(g_moyen*0.001*365)
round(h_kg,2)

10324243092.18

##### exprimé en pourcentage

In [63]:
# Pourcentage totale pouvant être nourrie
pourc_h_nourris_g = h_kg/(pop_2013*1000)*100
print(round(pourc_h_nourris_g,2),"%")

147.55 %

In [64]:
print(">> La disponibilité alimentaire mondiale pourrait combler les besoins en protéines de",
      round(h_kg/1e9,2),"milliards de personnes soit",round(pourc_h_nourris_g,2),"% de la population mondiale.")

>> La disponibilité alimentaire mondiale pourrait combler les besoins en protéines de 10.32 milliards de personnes soit 147.55 % de la population mondiale.

### Question n°10 - Quelle proportion de la population mondiale est considérée comme étant en sous-nutrition ?

In [65]:
# On procède au nettoyage des doublons du df
sous_alimentation.drop_duplicates()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,7.9,F,Estimation FAO,NaN
1,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,8.8,F,Estimation FAO,NaN
2,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20142016,2014-2016,millions,9.6,F,Estimation FAO,NaN
3,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20152017,2015-2017,millions,10.2,F,Estimation FAO,NaN
4,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20162018,2016-2018,millions,10.6,F,Estimation FAO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,FS,Données de la sécurité alimentaire,181,Zimbabwe,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,6.6,F,Estimation FAO,NaN
1016,FS,Données de la sécurité alimentaire,181,Zimbabwe,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,7.2,F,Estimation FAO,NaN
1017,FS,Données de la sécurité alimentaire,181,Zimbabwe,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20142016,2014-2016,millions,7.8,F,Estimation FAO,NaN
1018,FS,Données de la sécurité alimentaire,181,Zimbabwe,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20152017,2015-2017,millions,8.2,F,Estimation FAO,NaN
1019,FS,Données de la sécurité alimentaire,181,Zimbabwe,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20162018,2016-2018,millions,8.5,F,Estimation FAO,NaN

In [66]:
sous_alimentation["Description du Symbole"].unique()

array(['Estimation FAO', 'Non rapportée', 'Non disponible'], dtype=object)

In [67]:
# On sélectionne la tranche 2012-2014 pour effectuer nos calculs
sous_alimentation_2013 = sous_alimentation[sous_alimentation["Année"]\
                                                               .str.contains("2012-2014")]

# On sélectionne uniquement les données estimées par la FAO
sous_alimentation_2013 = sous_alimentation_2013.loc[
                        (sous_alimentation["Description du Symbole"]=="Estimation FAO")]
sous_alimentation_2013.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,7.9,F,Estimation FAO,NaN
5,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,2.6,F,Estimation FAO,NaN
10,FS,Données de la sécurité alimentaire,3,Albanie,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,0.2,F,Estimation FAO,NaN
15,FS,Données de la sécurité alimentaire,4,Algérie,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,1.7,F,Estimation FAO,NaN
30,FS,Données de la sécurité alimentaire,7,Angola,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,8.1,F,Estimation FAO,NaN

In [68]:
# On vérifie s'il y a des données non numériques
sous_alimentation_2013["Valeur"].unique()

array(['7.9', '2.6', '0.2', '1.7', '8.1', '1.6', '1.5', '0.1', '26.1',
       '<0.1', '1', '2.2', '0.5', '0.4', '3.4', '2.8', '0.6', '137.7',
       '136.6', '4.1', '1.8', '0.3', '4.7', '3.9', '0.7', '1.3', '25.3',
       '2.5', '5.2', '216.3', '22.6', '4.2', '9.1', '0.9', '10', '8.2',
       '3.2', '1.4', '5.3', '7', '6.6', '1.1', '1.9', '13.4', '12.6',
       '2.1', '38.1', '0.8', '14', '2', '1.2', '10.6', '16.4', '3.6',
       '8.3', '2.3', '4.9', '5.6', '10.4', '7.2'], dtype=object)

In [69]:
#  On supprime la donnée "<0.1"
sous_alimentation_2013 = sous_alimentation_2013[~sous_alimentation_2013['Valeur']\
                                                                        .isin(['<0.1'])]
sous_alimentation_2013.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,7.9,F,Estimation FAO,NaN
5,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,2.6,F,Estimation FAO,NaN
10,FS,Données de la sécurité alimentaire,3,Albanie,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,0.2,F,Estimation FAO,NaN
15,FS,Données de la sécurité alimentaire,4,Algérie,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,1.7,F,Estimation FAO,NaN
30,FS,Données de la sécurité alimentaire,7,Angola,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,8.1,F,Estimation FAO,NaN

In [70]:
# On procède à la conversion de la colonne en float
sous_alimentation_2013["Valeur"] = pd.to_numeric(sous_alimentation_2013["Valeur"], 
                                                                         errors='coerce')

In [71]:
# On renomme la colonne "Valeur" en "sous_alimentés"
sous_alimentation_2013 = sous_alimentation_2013.rename(columns={"Valeur":"sous_alimentés"})

# On supprime les données de la Chine
sous_alim_2013 = sous_alimentation_2013.loc[sous_alimentation["Zone"]!="Chine"]

# On effectue alors la somme pour connaître le nombre de personnes sous-alimentées
sous_alim2013 = sous_alim_2013["sous_alimentés"].sum()
sous_alim2013

743.7

In [72]:
# On calcule le pourcentage de personnes en sous-nutrition en 2013
sous_nut2013 = (sous_alim2013*1000000)/(pop_2013*1000)*100
print("Sur l'année 2013,",round(sous_nut2013,2),"% de la population mondiale était en sous-alimentation soit",sous_alim2013,"millions de personnes.")

Sur l'année 2013, 10.63 % de la population mondiale était en sous-alimentation soit 743.7 millions de personnes.

### Question n°11 - Quelle proportion, en termes de poids, est destinée à l'alimentation animale (en prenant en compte les céréales destinées à l'alimentation)

In [73]:
# On détermine les codes produits considérés comme des céréales selon la FAO
cereales["Code Produit"].unique()

array([2511, 2805, 2513, 2514, 2517, 2515, 2516, 2518, 2520])

In [74]:
bm_bool = bilan_alim_popu.copy()
bm_bool.head()

,Code zone,Zone,Code Produit,Produit,Origine,Année,Code année,Aliments pour animaux,Autres utilisations (non alimentaire),dispo_alim_kcal_j,...,Exportations - Quantité,Importations - Quantité,nourriture,Pertes,Production,population,bilan_alim_kcal,bilan_alim_kg_prot,ratio_energie,pourc_prot
0,1,Arménie,2511,Blé,Végétale,2013,2013,93.0,0.0,1024.0,...,1.0,361.0,389.0,32.0,312.0,2977,1.112684e+12,33163184.60,2860.368946,8.525240
1,1,Arménie,2513,Orge,Végétale,2013,2013,137.0,26.0,0.0,...,0.0,9.0,0.0,15.0,189.0,2977,0.000000e+00,0.00,NaN,NaN
2,1,Arménie,2514,Maïs,Végétale,2013,2013,96.0,NaN,0.0,...,NaN,82.0,0.0,7.0,21.0,2977,0.000000e+00,10866.05,NaN,NaN
3,1,Arménie,2515,Seigle,Végétale,2013,2013,1.0,NaN,1.0,...,NaN,0.0,0.0,0.0,1.0,2977,1.086605e+09,21732.10,NaN,NaN
4,1,Arménie,2516,Avoine,Végétale,2013,2013,4.0,NaN,2.0,...,NaN,1.0,1.0,0.0,5.0,2977,2.173210e+09,97794.45,2173.210000,9.779445

In [75]:
# On détermine la définition pour ajouter une colonne booléenne
code_cereales = ["2511", "2805", "2513", "2514", "2517", "2515", "2516", "2518", "2520"]

def is_cereals(row):
    if str(row["Code Produit"]) in code_cereales:
        return True
    return False

In [76]:
# On crée la colonne booléeenne
bm_bool["is_cereals"]= bm_bool.apply(lambda row: is_cereals(row), axis=1)
bm_bool.head()

,Code zone,Zone,Code Produit,Produit,Origine,Année,Code année,Aliments pour animaux,Autres utilisations (non alimentaire),dispo_alim_kcal_j,...,Importations - Quantité,nourriture,Pertes,Production,population,bilan_alim_kcal,bilan_alim_kg_prot,ratio_energie,pourc_prot,is_cereals
0,1,Arménie,2511,Blé,Végétale,2013,2013,93.0,0.0,1024.0,...,361.0,389.0,32.0,312.0,2977,1.112684e+12,33163184.60,2860.368946,8.525240,True
1,1,Arménie,2513,Orge,Végétale,2013,2013,137.0,26.0,0.0,...,9.0,0.0,15.0,189.0,2977,0.000000e+00,0.00,NaN,NaN,True
2,1,Arménie,2514,Maïs,Végétale,2013,2013,96.0,NaN,0.0,...,82.0,0.0,7.0,21.0,2977,0.000000e+00,10866.05,NaN,NaN,True
3,1,Arménie,2515,Seigle,Végétale,2013,2013,1.0,NaN,1.0,...,0.0,0.0,0.0,1.0,2977,1.086605e+09,21732.10,NaN,NaN,True
4,1,Arménie,2516,Avoine,Végétale,2013,2013,4.0,NaN,2.0,...,1.0,1.0,0.0,5.0,2977,2.173210e+09,97794.45,2173.210000,9.779445,True

In [77]:
# On vérifie qu'il y a bien des données "false"
bm_bool[bm_bool.is_cereals==False]

,Code zone,Zone,Code Produit,Produit,Origine,Année,Code année,Aliments pour animaux,Autres utilisations (non alimentaire),dispo_alim_kcal_j,...,Importations - Quantité,nourriture,Pertes,Production,population,bilan_alim_kcal,bilan_alim_kg_prot,ratio_energie,pourc_prot,is_cereals
8,1,Arménie,2531,Pommes de Terre,Végétale,2013,2013,225.0,16.0,82.0,...,5.0,134.0,96.0,661.0,2977,8.910161e+10,2108013.7,664.937388,1.573145,False
9,1,Arménie,2532,Manioc,Végétale,2013,2013,0.0,NaN,NaN,...,0.0,NaN,NaN,NaN,2977,NaN,NaN,NaN,NaN,False
10,1,Arménie,2534,Racines nda,Végétale,2013,2013,0.0,NaN,NaN,...,0.0,NaN,NaN,NaN,2977,NaN,NaN,NaN,NaN,False
11,1,Arménie,2537,"Sucre, betterave",Végétale,2013,2013,1.0,NaN,NaN,...,0.0,NaN,NaN,55.0,2977,NaN,NaN,NaN,NaN,False
12,1,Arménie,2542,Sucre Eq Brut,Végétale,2013,2013,NaN,0.0,302.0,...,85.0,98.0,NaN,8.0,2977,3.281547e+11,NaN,3348.517449,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15599,276,Soudan,2762,Perciform,Animale,2013,2013,NaN,0.0,0.0,...,NaN,0.0,NaN,0.0,37964,0.000000e+00,0.0,NaN,NaN,False
15600,276,Soudan,2763,Poissons Pelagiques,Animale,2013,2013,NaN,0.0,0.0,...,NaN,0.0,NaN,0.0,37964,0.000000e+00,0.0,NaN,NaN,False
15601,276,Soudan,2764,"Poissons Marins, Autres",Animale,2013,2013,NaN,0.0,0.0,...,NaN,5.0,NaN,5.0,37964,0.000000e+00,554274.4,NaN,11.085488,False
15603,276,Soudan,2848,Lait - Excl Beurre,Animale,2013,2013,NaN,0.0,315.0,...,232.0,5892.0,NaN,5660.0,37964,4.364911e+12,218245545.0,740.819908,3.704100,False
15604,276,Soudan,2899,Miscellanees,Végétale,2013,2013,NaN,NaN,7.0,...,NaN,NaN,NaN,NaN,37964,9.699802e+10,20369584.2,NaN,NaN,False

In [78]:
# On sélectionne uniquement les céréales
cereales_anim = bm_bool.loc[bm_bool["is_cereals"]==True]

# Calcul de la proportion destinée à l'alimentation animale

# On effectue d'abord la somme des données nécessaires pour le calcul
bm_alanim = cereales_anim["Aliments pour animaux"].sum() + cereales_anim["nourriture"].sum()

# On calcule le pourcentage de céréales destinées aux animaux
prop_animaux = cereales_anim["Aliments pour animaux"].sum()
cere_anim = prop_animaux/bm_alanim
print(round(cere_anim*100,2),"% des céréales sont destinées à l'alimentation animale.")

45.91 % des céréales sont destinées à l'alimentation animale.

### Question 12 - Donnez les 3 produits qui ont la plus grande valeur pour chacun des 2 ratios

*partie I - a/ Repérez les 15 produits les plus exportés par les pays en sous-nutrition*

In [79]:
# On effectue une jointure externe entre le df contenant les données de sous alimentation 
# et celui contenant les bilans alimentaires
bm_sous_nut = pd.merge(bilan_alim_popu, sous_alimentation_2013, how="left", on="Code zone")

# On renomme les colonnes
bm_sous_nut = bm_sous_nut.rename(columns={"Zone_x": "Zone", "Produit_x": "Produit", 
                        "Autres utilisations (non alimentaire)" : "Autres utilisations"})

# On sélectionne les colonnes dont on a besoin
col_list =["Zone","Code zone","Produit","sous_alimentés","population",
           "Exportations - Quantité",
           "Importations - Quantité","nourriture","Autres utilisations",
           "Aliments pour animaux","Production", "dispo_int"]

bm_sous_nut = bm_sous_nut[col_list]
bm_sous_nut.head()

,Zone,Code zone,Produit,sous_alimentés,population,Exportations - Quantité,Importations - Quantité,nourriture,Autres utilisations,Aliments pour animaux,Production,dispo_int
0,Arménie,1,Blé,0.1,2977,1.0,361.0,389.0,0.0,93.0,312.0,554.0
1,Arménie,1,Orge,0.1,2977,0.0,9.0,0.0,26.0,137.0,189.0,198.0
2,Arménie,1,Maïs,0.1,2977,NaN,82.0,0.0,NaN,96.0,21.0,102.0
3,Arménie,1,Seigle,0.1,2977,NaN,0.0,0.0,NaN,1.0,1.0,1.0
4,Arménie,1,Avoine,0.1,2977,NaN,1.0,1.0,NaN,4.0,5.0,6.0

In [80]:
# On sélectionne uniquement les données pour les pays victimes de sous-alimentation
bm_exp_imp = bm_sous_nut.dropna(subset=['sous_alimentés'])
bm_exp_imp.head()

,Zone,Code zone,Produit,sous_alimentés,population,Exportations - Quantité,Importations - Quantité,nourriture,Autres utilisations,Aliments pour animaux,Production,dispo_int
0,Arménie,1,Blé,0.1,2977,1.0,361.0,389.0,0.0,93.0,312.0,554.0
1,Arménie,1,Orge,0.1,2977,0.0,9.0,0.0,26.0,137.0,189.0,198.0
2,Arménie,1,Maïs,0.1,2977,NaN,82.0,0.0,NaN,96.0,21.0,102.0
3,Arménie,1,Seigle,0.1,2977,NaN,0.0,0.0,NaN,1.0,1.0,1.0
4,Arménie,1,Avoine,0.1,2977,NaN,1.0,1.0,NaN,4.0,5.0,6.0

In [81]:
# Les 15 produits les plus exportés par les pays victimes de sous-alimentation
bm_exp = bm_exp_imp[["Produit", 'Exportations - Quantité']]\
.groupby(by=['Produit']).sum().reset_index()\
.sort_values(by='Exportations - Quantité', ascending=False)

produits_export_par_pays_sous_alim = bm_exp.Produit[:15]
produits_export_par_pays_sous_alim

39         Huile de Palme
52                   Maïs
51                 Manioc
79       Riz (Eq Blanchi)
83          Sucre Eq Brut
12                    Blé
49        Légumes, Autres
8                 Bananes
25         Fruits, Autres
48     Lait - Excl Beurre
81                   Soja
73    Poissons Pelagiques
89                Tomates
75                 Pommes
61    Oranges, Mandarines
Name: Produit, dtype: object

*partie I - b/ Sélectionnez les 200 plus grandes importations de ces produits. Groupez ces importations par produit, afin d'avoir une table contenant 1 ligne pour chacun des 15 produits.*

In [82]:
# Sélection des 200 plus grandes importations
bm_imp = bm_sous_nut.loc[
    bm_sous_nut['Produit'].isin(produits_export_par_pays_sous_alim),]\
.sort_values('Importations - Quantité', ascending=False)\
[:200]
bm_imp.head()

,Zone,Code zone,Produit,sous_alimentés,population,Exportations - Quantité,Importations - Quantité,nourriture,Autres utilisations,Aliments pour animaux,Production,dispo_int
2509,"Chine, continentale",41,Soja,136.6,1385567,250.0,63381.0,5072.0,NaN,9530.0,11951.0,75081.0
2496,"Chine, continentale",41,Manioc,136.6,1385567,41.0,29046.0,2645.0,7940.0,22868.0,4585.0,33590.0
6965,Japon,110,Maïs,NaN,127144,1.0,14403.0,1171.0,288.0,10964.0,0.0,14661.0
3674,Égypte,59,Blé,3.9,82056,191.0,10331.0,12048.0,0.0,4860.0,9460.0,19341.0
7490,République de Corée,117,Maïs,NaN,49263,86.0,8755.0,614.0,47.0,6281.0,80.0,8749.0

*partie I - c/ Ensuite, calculez pour chaque produit les 2 quantités suivantes :*
- le ratio entre la quantité destinée aux "Autres utilisations" (Other uses) et la disponibilité intérieure.
- le ratio entre la quantité destinée à la nourriture animale et la quantité destinée à la nourriture (animale + humaine)

In [83]:
# On sélectionne les colonnes dont on a besoin
ratios = bm_imp[['Zone', 'Produit','Autres utilisations',
               'dispo_int','Aliments pour animaux','nourriture']]
# On effectue le groupby
ratios_sous_alim = ratios.groupby('Produit').sum().reset_index()
ratios_sous_alim.head()

,Produit,Autres utilisations,dispo_int,Aliments pour animaux,nourriture
0,Bananes,0.0,7466.0,0.0,7123.0
1,Blé,15047.0,456475.0,98103.0,300771.0
2,"Fruits, Autres",0.0,72851.0,0.0,66962.0
3,Huile de Palme,18568.0,25618.0,0.0,6833.0
4,Lait - Excl Beurre,12337.0,342633.0,27211.0,300343.0

In [84]:
# On effectue les calculs pour chacun des ratios

# Ratio n°1 entre la quantité destinée aux Autres Utilisations et la disponibilité intérieure
ratios_sous_alim['ratio_AU_dispo_int'] = (ratios_sous_alim['Autres utilisations'] 
                                              / ratios_sous_alim['dispo_int'])

# Ratio n°2 entre la quantité destinée à la nourriture animale et la nourriture globale
ratios_sous_alim['ratio_al_anim_nourr'] = (ratios_sous_alim['Aliments pour animaux'] 
                                             / (ratios_sous_alim['Aliments pour animaux'] 
                                                   + ratios_sous_alim['nourriture']))

# On affiche le dataframe avec les produits et les ratios
ratios_sous_alim = ratios_sous_alim[['Produit', 'ratio_AU_dispo_int', 
                                                                 'ratio_al_anim_nourr']]
ratios_sous_alim.head()

              Produit  ratio_AU_dispo_int  ratio_al_anim_nourr
0             Bananes            0.000000             0.000000
1                 Blé            0.032963             0.245950
2      Fruits, Autres            0.000000             0.000000
3      Huile de Palme            0.724803             0.000000
4  Lait - Excl Beurre            0.036006             0.083073

*partie II - Donnez les 3 produits qui ont la plus grande valeur pour chacun des 2 ratios*

In [85]:
# Les 3 produits qui ont la plus grande valeur pour le ratio 1
top3_ratio_AU_dispo_int = ratios_sous_alim[['Produit', 'ratio_AU_dispo_int']].\
sort_values('ratio_AU_dispo_int', ascending=False)[:3]
top3_ratio_AU_dispo_int

          Produit  ratio_AU_dispo_int
3  Huile de Palme            0.724803
6          Manioc            0.302335
7            Maïs            0.259771

In [86]:
print(">> Les produits importés par les pays victimes de sous-alimentation qui ont le ratio autres utilisations / disponibilité intérieure le plus élevé sont :",top3_ratio_AU_dispo_int['Produit'].values.tolist())

>> Les produits importés par les pays victimes de sous-alimentation qui ont le ratio autres utilisations / disponibilité intérieure le plus élevé sont : ['Huile de Palme', 'Manioc', 'Maïs']

In [87]:
# Les 3 produits qui ont la plus grande valeur pour le ratio 2
top3_ratio_al_anim_nourr = ratios_sous_alim[['Produit', 'ratio_al_anim_nourr']]\
.sort_values('ratio_al_anim_nourr', ascending=False)[:3]
top3_ratio_al_anim_nourr

                Produit  ratio_al_anim_nourr
7                  Maïs             0.878122
9   Poissons Pelagiques             0.755359
12                 Soja             0.646089

In [88]:
print(">> Les produits importés par les pays victimes de sous-alimentation qui ont le ratio nourriture animale / nourriture globale le plus élevé sont :",top3_ratio_al_anim_nourr['Produit'].values.tolist())

>> Les produits importés par les pays victimes de sous-alimentation qui ont le ratio nourriture animale / nourriture globale le plus élevé sont : ['Maïs', 'Poissons Pelagiques', 'Soja']

### Question 13 - Combien de tonnes de céréales pourraient être libérés si les USA diminuaient leur production de produits animaux de 10% ?

In [89]:
# On localise les données dont on a besoin pour le calcul
cere_USA = bm_bool.loc[(bm_bool["Zone"]== "États-Unis d'Amérique")]
cere_USA.head()

,Code zone,Zone,Code Produit,Produit,Origine,Année,Code année,Aliments pour animaux,Autres utilisations (non alimentaire),dispo_alim_kcal_j,...,Importations - Quantité,nourriture,Pertes,Production,population,bilan_alim_kcal,bilan_alim_kg_prot,ratio_energie,pourc_prot,is_cereals
14263,231,États-Unis d'Amérique,2511,Blé,Végétale,2013,2013,6196.0,16.0,599.0,...,5491.0,25742.0,NaN,57967.0,320051,6.997435e+13,2.260440e+09,2718.295019,8.781137,True
14264,231,États-Unis d'Amérique,2513,Orge,Végétale,2013,2013,1440.0,0.0,5.0,...,864.0,160.0,NaN,4683.0,320051,5.840931e+11,1.635461e+07,3650.581719,10.221629,True
14265,231,États-Unis d'Amérique,2514,Maïs,Végétale,2013,2013,128024.0,137023.0,92.0,...,3595.0,3917.0,NaN,353699.0,320051,1.074731e+13,1.950871e+08,2743.761190,4.980523,True
14266,231,États-Unis d'Amérique,2515,Seigle,Végétale,2013,2013,184.0,0.0,2.0,...,235.0,87.0,NaN,195.0,320051,2.336372e+11,8.177303e+06,2685.485402,9.399199,True
14267,231,États-Unis d'Amérique,2516,Avoine,Végétale,2013,2013,1430.0,NaN,19.0,...,1851.0,1265.0,NaN,1016.0,320051,2.219554e+12,9.228671e+07,1754.587893,7.295392,True

In [90]:
# On fait la somme de la production américaines de produits animaux
cere_anim_USA = cere_USA["Aliments pour animaux"].sum()
# On enlève 10% de la production 
print("En diminuant de 10% la production de produits animaux, les États-Unis pourraient libérer",round((cere_anim_USA*0.1)/1e3,2),'ktonnes de céréales.')

En diminuant de 10% la production de produits animaux, les États-Unis pourraient libérer 14.84 ktonnes de céréales.

### Question 14 - En Thaïlande, quelle proportion de manioc est exportée ? Quelle est la proportion de personnes en sous-nutrition ?

*proportion de manioc exportée par la Thaïlande*

In [91]:
# On localise les données dans le dataframe
manioc = bm_sous_nut.loc[(bm_sous_nut["Zone"]=="Thaïlande") & 
                              (bm_sous_nut["Produit"]=="Manioc")]
manioc

,Zone,Code zone,Produit,sous_alimentés,population,Exportations - Quantité,Importations - Quantité,nourriture,Autres utilisations,Aliments pour animaux,Production,dispo_int
13344,Thaïlande,216,Manioc,5.6,67011,25214.0,1250.0,871.0,2081.0,1800.0,30228.0,6264.0

In [92]:
proportion_manioc_export = manioc["Exportations - Quantité"] / manioc["Production"]
round(proportion_manioc_export*100,2)

13344    83.41
dtype: float64

*proportion de personnes en sous-nutrition en Thaïlande*

In [93]:
proportion_thai_sousalim = manioc["sous_alimentés"]/manioc["population"]*1000
proportion_thai_sousalim*100

13344    8.356837
dtype: float64

>> En Thaïlande, 83,41% de la production de manioc est exportée alors qu'environ 8,36% de sa population est victime de sous-nutrition.